body {
margin:0 auto;
background-image:radial-gradient(circle,#e0ea83,#ff9033);


}
.head{
    text-align: center;
    background-color: #380000;
    height: 10vh;
    margin-top: 0%;
    color: cornsilk;
    padding-top: 3%;
    
}
/* the container for table, button, turn text  */
.container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 250px;
    left: 50%;
    margin-top: -100px;
    margin-left: -175px;
   
}
/* style game cells */
td {

    height: 120px;
    width: 120px;
    background-color: none;
    border:2px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    cursor: pointer;

}
/* make it one border */
table{
    border-collapse:collapse; 
    
}
/* Selecting table to row to remove the boarder */
table tr:first-child td{
    border-top: 0;
}
/* Romove buttom border */
table tr:last-child td{
    border-bottom: 0;
}
/* To remove left border  */
table tr td:first-child{
    border-left: 0;
}
/* To remove right border  */
table tr td:last-child{
    border-right: 0;
}
/* game play and replay button */
button {
    /* display: flex; */
    text-align: center;
    height: 30px;
    width: 200px;
    background-color: #8e0010;
    border: 0px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 3%;
}

.green {
    display: none;
    background-color: green;
    color: ivory;
};
.turn {
    display: flex;
    text-align: center;
    height: 10%;
    width: 40%;
    
   
}
#turn {
    background-color: none;
    text-align: center;
};
h2>.scorexTitle{
  font-size: 1px;
}
.xBoard{
    position: absolute;
    width: 15%;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    margin-left: 2%;
    background-color: rgba(122, 122, 122, 0.4);
    
}
.oBoard{
    position: absolute;
    width: 15%;
    padding: 2%;
    text-align: center;
    margin-top: 5%;
    margin-left: 75%;
    background-color: rgba(122, 122, 122, 0.4);

}
.scorexTitle{
    
    padding: 10px;
}
.roundContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}